<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waimai.dao.PersonCardMapper" >
  <resultMap id="BaseResultMap" type="com.waimai.entity.PersonCard" >
    <id column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="card_id" property="cardId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    phone, card_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from person_card
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from person_card
    where phone = #{phone,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.waimai.entity.PersonCard" >
    insert into person_card (phone, card_id)
    values (#{phone,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.waimai.entity.PersonCard" >
    insert into person_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        phone,
      </if>
      <if test="cardId != null" >
        card_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null" >
        #{cardId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.waimai.entity.PersonCard" >
    update person_card
    <set >
      <if test="cardId != null" >
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
    </set>
    where phone = #{phone,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.waimai.entity.PersonCard" >
    update person_card
    set card_id = #{cardId,jdbcType=VARCHAR}
    where phone = #{phone,jdbcType=VARCHAR}
  </update>
</mapper>